#UCF for Xilinx Spartan 6
#23.12.2012

NET	CLK_IN	LOC="P93"	  | IOSTANDARD=LVTTL;
#NET "CLK_IN" CLOCK_DEDICATED_ROUTE = FALSE;
NET	CODEC_CLK_OUT	LOC="P95"	  | IOSTANDARD=LVTTL | slew=FAST;

NET	BUTTON_SELECT	LOC="P74"	  | IOSTANDARD=LVTTL;

NET	LED_S1	LOC="P80"	  | IOSTANDARD=LVTTL;
NET	LED_S2	LOC="P79"	  | IOSTANDARD=LVTTL;
NET	LED_S3	LOC="P75"	  | IOSTANDARD=LVTTL;

NET	TP82	  LOC="P82"	  | IOSTANDARD=LVTTL;
NET	TP84	  LOC="P84"	  | IOSTANDARD=LVTTL;


NET	FD(0)	        LOC="P50"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(1)	        LOC="P48"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(2)	        LOC="P46"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(3)	        LOC="P47"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(4)	        LOC="P40"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(5)	        LOC="P41"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(6)	        LOC="P43"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(7)	        LOC="P44"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(8)	        LOC="P26"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(9)	        LOC="P24"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(10)	      LOC="P23"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(11)	      LOC="P22"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(12)	      LOC="P21"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(13)	      LOC="P59"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(14)	      LOC="P58"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FD(15)	      LOC="P57"	  | IOSTANDARD=LVTTL | slew=FAST;

NET	FLAGA	        LOC="P45"	  | IOSTANDARD=LVTTL;
NET	FLAGB	        LOC="P35"	  | IOSTANDARD=LVTTL;
NET	FLAGC	        LOC="P34"	  | IOSTANDARD=LVTTL;
NET	FLAGD	        LOC="P27"	  | IOSTANDARD=LVTTL;

NET	PKTEND	     LOC="P29"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FIFOADR(1)	  LOC="P30"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	FIFOADR(0)	  LOC="P32"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	SLOE	        LOC="P33"	  | IOSTANDARD=LVTTL | slew=FAST;			
NET	SLWR	        LOC="P55"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	SLRD	        LOC="P56"	  | IOSTANDARD=LVTTL | slew=FAST;

NET	IFCLK	        LOC="P51"	  | IOSTANDARD=LVTTL | slew=FAST;


NET	TXD(0)	LOC="P114"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(1)	LOC="P115"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(2)	LOC="P116"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(3)	LOC="P117"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(4)	LOC="P118"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(5)	LOC="P119"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(6)	LOC="P120"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(7)	LOC="P121"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(8)	LOC="P123"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(9)	LOC="P124"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(10)	LOC="P126"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXD(11)	LOC="P127"	  | IOSTANDARD=LVTTL | slew=FAST;

NET	TXIQ	  LOC="P131"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TXCLK	  LOC="P132"	  | IOSTANDARD=LVTTL | slew=FAST;

NET	TX_SCLK	LOC="P100"	  | IOSTANDARD=LVTTL;		
NET	TX_SCS	LOC="P101"	  | IOSTANDARD=LVTTL;
NET	TX_SDAT	LOC="P111"	  | IOSTANDARD=LVTTL;
NET	TX_AUX	LOC="P112"	  | IOSTANDARD=LVTTL;


NET	TRXD(0)	 LOC="P138"	| IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(1)	 LOC="P139"	| IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(2)	 LOC="P140"	| IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(3)	 LOC="P141"	| IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(4)	 LOC="P142"	| IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(5)	 LOC="P143"	| IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(6)	 LOC="P1"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(7)   LOC="P2"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(8)	 LOC="P5"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(9)	 LOC="P6"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(10)  LOC="P7"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TRXD(11)  LOC="P8"	  | IOSTANDARD=LVTTL | slew=FAST;				

NET	TRXIQ	    LOC="P137"	  | IOSTANDARD=LVTTL | slew=FAST;
NET	TRXCLK    LOC="P133"	  | IOSTANDARD=LVTTL | slew=FAST;

NET	RX_SCS	LOC="P14"	  | IOSTANDARD=LVTTL;
NET	RX_SCLK	LOC="P15"	  | IOSTANDARD=LVTTL;
NET	RX_SDAT	LOC="P16"	  | IOSTANDARD=LVTTL;
NET	RX_AUX 	LOC="P17"	  | IOSTANDARD=LVTTL;


NET	CODEC_SDAT	  LOC="P9"	  | IOSTANDARD=LVTTL;
NET	CODEC_SCS     LOC="P10"	  | IOSTANDARD=LVTTL;
NET	CODEC_SCLK	  LOC="P11"	  | IOSTANDARD=LVTTL;
NET	CODEC_RESET	  LOC="P12"	  | IOSTANDARD=LVTTL;


#NET FLASH_CS LOC="P38"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_CS
#NET FLASH_CK LOC="P70"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_CK
#NET FLASH_SI LOC="P64"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # FLASH_SI
#NET FLASH_SO LOC="P65"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # FLASH_SO

#NET JTAG_TMS LOC="P107" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # JTAG_TMS
#NET JTAG_TCK LOC="P109" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # JTAG_TCK
#NET JTAG_TDI LOC="P110" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # JTAG_TDI
#NET JTAG_TDO LOC="P106" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # JTAG_TDO
